{% extends 'layout.html' %}
{% block content %}
        <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
        <h1>You don't have permission to do that (403)</h1>
        <p>Please check your account</p>
        <pre>
________
\______ \____________     ____   ____   ____
 |    |  \_  __ \__  \   / ___\ /  _ \ /    \
 |    `   \  | \// __ \_/ /_/  >  (_) )   |  \
/_______  /__|  (____  /\___  / \____/|___|  /
        \/           \//_____/             \/
        </pre>

            </div>
        </div>
    </div>


{% endblock content %}