{% extends 'layout.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Oops. Page Not Found (404)</h1>
                <p>This page is gone</p>
                <pre>
________
\______ \____________     ____   ____   ____
 |    |  \_  __ \__  \   / ___\ /  _ \ /    \
 |    `   \  | \// __ \_/ /_/  >  (_) )   |  \
/_______  /__|  (____  /\___  / \____/|___|  /
        \/           \//_____/             \/
        </pre>
            </div>
        </div>
    </div>

{% endblock content %}