{% extends 'layout.html' %}
{% block content %}
        <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
        <h1>WTF MY SERVER IS GOT FUCKED (500)</h1>
        <p>Sorry the developer is got fucked</p>
        <pre>
________
\______ \____________     ____   ____   ____
 |    |  \_  __ \__  \   / ___\ /  _ \ /    \
 |    `   \  | \// __ \_/ /_/  >  (_) )   |  \
/_______  /__|  (____  /\___  / \____/|___|  /
        \/           \//_____/             \/
        </pre>
            </div>
        </div>
    </div>
{% endblock content %}