{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="border-bottom md-4 center"><h2>Sign in</h2></div>
            <br>
            <br>
            <br>
                <div class="form-group">
                    {# label#}
                    {{ form.email.label(class="form-control-label") }}
                    {#  field#}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback" style="color: brown">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg", placeholder='Jane Doe')}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {# label#}
                    {{ form.password.label(class="form-control-label") }}
                    {#  field#}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback"></div>
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.password(class="form-control form-control-lg", placeholder='******')}}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember.label(class="form-check-label") }}
                    {{ form.remember(class="form-check-input") }}
                </div>
            </fieldset>
            <div class="form-group center">
                    {{ form.submit( class="btn btn-success") }}
            </div>
            <div class="text-muted ml-2" style="padding-left: 90px">
                <a href="{{ url_for('reset_request.reset_request') }}"><font size="1" face="arial">Forgot Password?</font></a>
            </div>
        </form>
        <div class="border-top pt-3"  style="padding-left: 40px">
            <div class="text-muted" style="padding-left: 40px">
                <font size="1" face="arial">Need An Acount?</font> <a class="ml-2" href="{{ url_for('register.register') }}"><font size="1" face="arial">Sign up</font></a>
            </div>
        </div>
    </div>

{% endblock content %}
    <script type="text/javascript" src="static/js/demo/chat.js"></script>
